@import './variables.scss';
@import '../components/Navbar/Navbar.scss';
@import '../components/Home/Home.scss';
@import '../components/Resume/Resume.scss';
@import '../components/Skill/Skill.scss';
@import '../components/About/About.scss';
@import '../components/Contact/Contact.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
