.home{
    width: 70%;
    height: 30rem;
    margin-top: 2rem;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 5%;
    left:20%;
    background-color: $colorBackground;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "text img"
                        "content content";

    &-img{
        grid-area: img;
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 25rem;
        position: absolute;
        top: 10%;
        right: 6%;
        
        &:hover{
            width: 15.2rem;
            height: 15.2rem;
        }
    }

    &-text{
        grid-area: text;
        align-self: end;
        font-family: "Courier New";
        color: $colorTexto;
        font-weight: bold;
        margin: 1rem 0 1rem 2rem;
        border-right: .15em solid $colorActive;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation: blink 1s steps(1) infinite;
        animation: typing 4s steps(30) 1s 1 normal both, blink 1s steps(1) infinite;   

        @keyframes blink {
            50% {
              border-color: transparent;
            }
        }
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 80%;
            }
        }
    }

    &-content{
        grid-area: content;
        display: flex;
        justify-content: center;
        align-self: center;
        font-family: "Courier New";
        color: $colorTexto;
        &:hover{
            color: $colorActive;
            font-weight: bolder;
        }
    }
}